
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Hello = "Hello from the View.";
}

<h2>@ViewBag.Title</h2>

<h2>@ViewBag.Hello</h2>

<h2>@ViewBag.FromController</h2>

<p>
    The pages linked below are examples of using the ViewBag object to transport
    data between an action and a view.  The ViewBag object is scoped directly
    between an action (via the controller) and its associated view.  It <em>cannot</em> be passed from
    one action to another or between views. <strong>Except</strong> when the ViewBag
    object is assigned in a view, that <em>CAN BE/ IS</em> passed to the _Layout View
    if it is in use. (Like we do for the title element in the head of the _Layout).
</p>

<ul>
    <li>
        @Html.ActionLink("Input Form", "Greetings", "ViewBagData")
    </li>
    <li>
        @Html.ActionLink("Simple Calculator", "SimpleCalculator", "ViewBagData")
    </li>
    <li>
        @Html.ActionLink("Mad Libs", "MadLibs", "ViewBagData")
    </li>
</ul>
